# 実機環境用 terraform.tfvars (参考)

github_username = "kta"
github_token    = "ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
github_repo_url = "https://github.com/kta/raspi-k8s-cluster.git"

environment      = "production"
metallb_ip_range = "192.168.1.200-192.168.1.220"
ingress_ip       = "192.168.1.200"
vip              = "192.168.1.100"
