# =============================================================================
# Traefik Middleware
# =============================================================================
# Common middleware for HTTP to HTTPS redirection.
# =============================================================================
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: traefik
spec:
  redirectScheme:
    scheme: https
    permanent: true
