apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

resources:
  - ../../base

patches:
  - target:
      kind: ClusterIssuer
      name: letsencrypt
    patch: |-
      - op: replace
        path: /spec/acme/server
        value: "https://acme-v02.api.letsencrypt.org/directory"
      - op: replace
        path: /spec/acme/email
        value: "admin@raspi.local"
