---
# Molecule configuration for testing Ansible playbooks with Docker
dependency:
  name: galaxy
  options:
    requirements-file: requirements.yml
    ignore-errors: true

driver:
  name: docker

platforms:
  # Primary master node - will run kubeadm init
  - name: primary-master
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: /lib/systemd/systemd
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    networks:
      - name: molecule-k8s-net
    groups:
      - all_masters
      - primary_master

  # Secondary master nodes - will join the cluster
  - name: secondary-master-1
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: /lib/systemd/systemd
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    networks:
      - name: molecule-k8s-net
    groups:
      - all_masters
      - secondary_masters

  - name: secondary-master-2
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: /lib/systemd/systemd
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
    networks:
      - name: molecule-k8s-net
    groups:
      - all_masters
      - secondary_masters

provisioner:
  name: ansible
  config_options:
    defaults:
      callbacks_enabled: profile_tasks,timer
      stdout_callback: yaml
  inventory:
    group_vars:
      all:
        # Kubernetes version
        k8s_version: "1.35"
        # Virtual IP for Keepalived (using Docker network IP)
        vip: "172.18.0.100"
        # Network interface (Docker default)
        interface: "eth0"
        # HAProxy port
        haproxy_port: "8443"
        # Node IPs (will be set dynamically)
        node_ips: "172.18.0.2,172.18.0.3,172.18.0.4"
        # CI mode flag to skip certain operations
        ci_mode: true
    host_vars:
      primary-master:
        priority: 101
        state: MASTER
      secondary-master-1:
        priority: 100
        state: BACKUP
      secondary-master-2:
        priority: 100
        state: BACKUP

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - side_effect
    - verify
    - cleanup
    - destroy
