---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  # --- Node 1: Primary Master ---
  - name: pi-node1
    image: geerlingguy/docker-${MOLECULE_DISTRO:-debian12}-ansible:latest
    command: /lib/systemd/systemd
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    groups:
      - all_masters
      - primary_master
    # 【修正1】固定IP (ipv4_address) を削除し、ネットワーク名だけ指定
    networks:
      - name: k8s-cluster-net

  # --- Node 2: Secondary Master ---
  - name: pi-node2
    image: geerlingguy/docker-${MOLECULE_DISTRO:-debian12}-ansible:latest
    command: /lib/systemd/systemd
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    groups:
      - all_masters
      - secondary_masters
    networks:
      - name: k8s-cluster-net

  # --- Node 3: Secondary Master ---
  - name: pi-node3
    image: geerlingguy/docker-${MOLECULE_DISTRO:-debian12}-ansible:latest
    command: /lib/systemd/systemd
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    groups:
      - all_masters
      - secondary_masters
    networks:
      - name: k8s-cluster-net

provisioner:
  name: ansible
  config_options:
    defaults:
      stdout_callback: yaml
      skip_tags: "reboot,firmware_check"
  inventory:
    group_vars:
      all:
        k8s_version: "1.29"
        # 【修正2】VIPをlocalhostにする (CI上のテスト通信用)
        # Keepalivedは 127.0.0.1 をバインドし、Verifyテストもlocalhost経由で通ります
        vip: "127.0.0.1"
        
        interface: "eth0"
        haproxy_port: "8443"
        
        # 【修正3】IPアドレスではなく「ホスト名」を指定する
        # Docker DNSが自動解決してくれるため、これでHAProxyの設定も正しく生成されます
        node_ips: "pi-node1,pi-node2,pi-node3"
        
        is_ci_environment: true

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - verify
    - cleanup
    - destroy